// .index-title {
//   font-size: 100px;
// }

body{font-size:16px;
//  font-family: 'Bruno Ace SC', cursive;
 font-family: 'Noto Serif TC', 'Bruno Ace SC';font-weight: 400;
}

 p{font-family:  'Noto Serif TC','Bruno Ace SC';font-weight: 400;margin: 0;}
h1,.ff{font-family: 'Yeseva One',;font-weight: 400;}
h2,h4,h5 {font-family:  'Noto Serif TC';font-weight: 700;}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 1s;
}
// font-family: 'Bruno Ace SC', cursive;--黑體字英文字型
// font-family: 'Noto Serif TC', serif; -----中文楷體
// font-family: 'Yeseva One', cursive;-----英文字型

